.bannerOuterContainer {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: grid;
  position: relative;
  grid-template-areas: "details details title title";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: 0px;
  border-radius: 4px;
  padding: 0.75rem 0.75rem 0.75rem 3rem;
  background-color: #d8e8fb;
  box-shadow: 4px 4px 12px #bdbdbd, -4px 4px 12px #e0e0e0;
  @media only screen and (max-width: 1280px) {
    min-height: fit-content;
  }
  @media only screen and (max-width: 960px) {
    grid-template-columns: max-content 1fr auto;
    // min-height: fit-content;
  }
}
.bannerOuterContainerNoImage {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: grid;
  position: relative;
  grid-template-areas: "details details title title";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: 0px;
  border-radius: 4px;
  padding: 0.75rem 0.75rem 0.75rem 3rem;
  background-color: #d8e8fb;
  box-shadow: 4px 4px 12px #bdbdbd, -4px 4px 12px #e0e0e0;
  @media only screen and (max-width: 1280px) {
    min-height: fit-content;
  }
  @media only screen and (max-width: 960px) {
    grid-template-columns: max-content 1fr auto;
    // min-height: fit-content;
  }
}

.detailsContainer {
  display: inline-table;
  flex-direction: column;
  justify-content: space-between;
  grid-area: details;
  height: fit-content;
  margin-bottom: 0.75rem;
  @media only screen and (max-width: 960px) {
    width: fit-content;
  }
}
.individualTimeWrapper {
  display: flex;
  flex-direction: column;
  grid-area: details;
}
.servingsContainer {
  display: flex;
  flex-direction: column;
  grid-area: details;
}
.bannerLabel {
  font-size: 1.4rem;
  padding: 0.75rem 0px 0px 0.75rem;
  font-weight: 500;
  grid-area: details;
  @media only screen and (max-width: 1280px) {
    font-size: 1.2rem;
  }
}
.bannerDetail {
  font-size: 1.4rem;
  grid-area: details;
  // padding-left: 2.75rem;
  @media only screen and (max-width: 1280px) {
    font-size: 1.2rem;
  }
}
.bannerDetailNoContent {
  font-size: 1.4rem;
  grid-area: details;
  padding-left: 4.5rem;
  @media only screen and (max-width: 1280px) {
    font-size: 1.2rem;
  }
}

.bannerContent {
  font-size: 1.4rem;
  padding: 0.75rem 0px 0px 8px;
}

.titleContainer {
  // grid-area: title;
  padding-top: 0.75rem;
  z-index: 1;
}
.rightBannerColumn {
  grid-area: title;
  padding-top: 0.75rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}

.titleText {
  @media only screen and (max-width: 1280px) {
    font-size: 1.6rem !important;
  }
}

.bookmarkedIcon {
  z-index: 0;
  color: #eb6010;
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  filter: drop-shadow(3px 3px 2px #9e9e9e);
  &:hover {
    cursor: pointer;
    // Handle transition with JS to avoid weird transition back
  }
}
.notBookmarkedIcon {
  z-index: 0;
  color: #eb6010;
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  filter: drop-shadow(3px 3px 2px #9e9e9e);
  // right: 3.75rem;
  // top: -12px;
  // filter: drop-shadow(2px 1px 2px #4444dd);
  // filter: drop-shadow(2px 2px 2px #9e9e9e);
  &:hover {
    cursor: pointer;
    // Handle transition with JS to avoid weird transition back
  }
}

.bookmarkIconContainer {
  right: 3.75rem;
  top: -12px;
  height: 3rem;
  width: 3rem;
  position: absolute;
  z-index: 99;
  &:hover {
    cursor: pointer;
  }
}
.bookmarkIconContainerDisabled {
  right: 3.75rem;
  top: -8px;
  height: 3rem;
  width: 3rem;
  position: absolute;
  z-index: 99;
  &:hover {
    cursor: default !important;
  }
}
.bookmarkIconDisabled {
  filter: drop-shadow(1px 1px 2px #9e9e9e);
  color: rgba(235, 96, 16, 0.5);
  &:hover {
    cursor: default !important;
  }
}

// I had to do this to get around the weirdest bug I've ever gotten when checking in JS.
.hide {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .notBookmarkedIcon {
    right: 1.5rem;
  }
  .bookmarkedIcon {
    right: 1.5rem;
  }
}
