.itemDisplaySectionWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.cardButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    margin-top: auto;
}
.cardUserNameText{
    font-size: 1.2rem;
}

.timeStamp{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    font-size: 0.7rem;
    text-align: right;
}
.recipeCardGrid{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "title title title badge"
    "description description description description"
    "description description description description"
    "button button button timestamp"
}
.recipeCardUserNameText{
    grid-area: title;
}
.recipeCardDescription{
    overflow: hidden;
    grid-area: description;
}

.recipeCardButtonContainer{
    grid-area: button;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    margin-top: auto;
}
.badgeContainer{
    grid-area: badge;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "isHot isGlutenFree isInStock";
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    svg{
        height: 32px;
        width: auto;
    }
}

@media only screen and (max-width: 1100px) {
    .badgeContainer svg{
        height: 24px;
        width: auto;
    }
  }

  @media only screen and (max-width: 600px) {
    .badgeContainer svg{
        height: 16px;
        width: auto;
    }
  }

  @media only screen and (min-width: 1650px) {
    .wrapperWithUser{
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // height: fit-content;
        // flex-grow: row;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
    .wrapperWithRecipes{
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // height: fit-content;
        // flex-grow: row;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    }
  }