.portalAuthenticatedOuterWrapper{
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr 2fr;
    grid-template-areas: "leftTab portalForm portalCardDisplay";
}

.formWrapper{
    padding: 30px;
}

@media only screen and (max-width: 1100px) {
        .portalAuthenticatedOuterWrapper{
            display: grid;
            width: 100%;
            grid-template-columns: auto 1fr 1fr;
            grid-template-areas: "portalForm portalCardDisplay";
        }
      }

@media only screen and (max-width: 850px) {
    .portalLeftTabWrapper{
        display: none;
    }
        .portalAuthenticatedOuterWrapper{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
      }
      