
.portalLeftTab{
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    font-size: 1.2rem;
    border-radius: 0 20px 20px 0;
    transform-style: preserve-3d;
    margin-top: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    text-align: center;
    transition: 0.5s;
    background-size: 350% auto;       
}
.portalLeftTabHover:hover {
    transform-style: preserve-3d;
    // transform: scale3d(1.05, 1.05, 1.05);
    transform: translateX(5px);
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    z-index: 10;
    cursor: pointer;
    background-position: right center; 
    text-decoration: none;
}


.formInput{
    display: inline-block;
    border: 3px solid red;
}

.disabledLeftTab{
    border: none;
    background-color: none;
    background-image: none;
    color: black;
    box-shadow: none;
    background: rgb(219,26,50);
    background: linear-gradient(27deg, rgba(219,26,50,1) 0%, rgba(255,255,255,1) 49%, rgba(27,132,63,1) 100%);
    span{
        background: transparent;
    }
}

.currentActiveTab{
    span{
        padding: 5px auto 3px auto;
        border-bottom: 2px solid #ccc;
    }
}
