.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.innerLandingPageWrapper{
  margin-top: 0px;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.heroImage{
  z-index: -10;
}